/* General styles */
@font-face {
    font-family: "lift-mono";
    src: url(fonts/lift_mono_regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "lift-mono";
    src: url(fonts/lift_mono_bold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "lift-mono";
    src: url(fonts/lift_mono_light.woff) format('woff');
    font-weight: lighter;
}

:root {
    /* Setup the color scheme for lightmode */
    --primary-orange: #FD7547;
    --secondary-orange: #FEAD91;
    --primary-black: black;
    --primary-white: white;
    --primary-grey: #808080bf;
    --primary-purple: #420D00;

    --active-link: var(--primary-orange);
    --slider-ball: var(--primary-orange);
    --mac-close: var(--primary-orange);

    --mac-expand: #FEE550;
    --mac-minimize: #05F240;
    --mac-window: white;
    --mac-header: #05DBF2;

    --mac-focused-window-from: #9DDFED;
    --mac-focused-window-to: #FACDEA;

    --projects-selection : var(--primary-orange);

    --enter-button: #262626;
    --enter-button-border: #4F4C4D;
    --enter-button-text: var(--primary-white);

    --socials-hover: var(--primary-orange);
    --socials-color: var(--primary-black);

    --input-text: var(--primary-black);

    --text-highlight: rgba(255, 255, 0, 0.639);
    --underline-secondary: #420D00;
    --underline-primary: var(--primary-orange);
    --header-slogan: var(--primary-black);
}

:root.night {
    /* Setup the color scheme for darkmode */
    --primary-orange: #800080;
    --secondary-orange: transparent;
    --primary-black: #800080;
    --primary-white: black;
    --primary-grey: rgba(128, 0, 128, 0.623);
    --primary-purple: #0e3807;

    --active-link: #cf07cf;

    --mac-close: transparent;
    --mac-expand: transparent;
    --mac-minimize: transparent;
    --mac-window: rgba(0, 0, 0, 0.404);
    --mac-header: rgba(0, 0, 0, 0.404);

    --mac-focused-window-from: rgba(0, 0, 0, 0.493);
    --mac-focused-window-to: rgba(0, 0, 0, 0.493);

    --projects-selection: #a513a583;

    --enter-button: transparent;
    --enter-button-border: #800080;
    --enter-button-text: #800080;

    --socials-hover: #cf07cf;

    --input-text: #cf07cf;

    --text-highlight: #d101d150;
    --underline-secondary: #5711fc;
    --underline-primary: var(--primary-orange);
    --header-slogan: var(--primary-black);
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--primary-white);
    color: var(--primary-black);
    font-family: "lift-mono", monospace;
    background-size: 70px 60px;
    background-image:
        linear-gradient(to left, var(--primary-grey) 2px, transparent 2px),
        linear-gradient(to top, var(--primary-grey) 2px, transparent 2px);
    margin: 0;
}


h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

p {
    font-weight: normal;
    font-size: 1.5rem;
}


/* Navbar styles */
nav {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 5px 0px 5px 0px;
    height: 60px;
    top: 0;
    width: 100vw;
    background-color: var(--primary-white);
    z-index: 999;
    border-style: solid;
    transition: top 0.8s ease-in-out;
}

.nav-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1400px;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    padding-left: 30px;
    top: 100%;
    left: -3px;
    width: 100%;
    background-color: var(--primary-white);
    z-index: 1000;
    box-sizing: border-box;
    max-height: 0; 
    overflow: hidden;
    transition: max-height .3s ease-in-out;
    border-left: 0.188rem solid var(--primary-black);
    border-bottom: 0.188rem solid var(--primary-black);
}


nav a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-black);
}

.nav-link:link {
    padding-right: 20px;
}

.nav-link.active {
    color: var(--active-link);
}

.underline {
    width: 0%;
    transition: all 0.4s ease-in-out;
}

.nav-link:hover + .underline {
    width: 80%;
}

.section-header .underline {
    width: 80%;
}

.underline :first-child {
    position: relative;
    top: -6px;
    width: 100%;
    background-color: var(--underline-primary);
    height: 5px;
}

.underline :last-child {
    position: relative;
    width: 102%;
    top: -6px;
    background-color: var(--underline-secondary);
    height: 5px;
}

/* Hamburger menu styles */
.burger {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 45px;
    height: 35px;
    position: relative;
}

.burger-line {
    position: absolute;
    border-radius: 0.2rem;
    width: 100%;
    height: 0.313rem;
    background-color: var(--primary-orange);
    transition: all 0.3s;
}

.burger-line:nth-child(1) {
    top: 0;
}

.burger-line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger-line:nth-child(3) {
    bottom: 0;
}

#nav-toggle:checked ~ .burger .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#nav-toggle:checked ~ .burger .burger-line:nth-child(2) {
    opacity: 0;
}

#nav-toggle:checked ~ .burger .burger-line:nth-child(3) {
    transform: translateY(-20px) rotate(-45deg);
}

#nav-toggle:checked ~ .nav-links {
    max-height: 340px;
}


/* Night mode button styles */ 

.slider {
    display: flex;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: var(--secondary-orange);
    border-radius: 40px;
    position: relative;
    border: .1rem solid var(--primary-black);
    margin-right: 10px;
}

.slider p {
    padding-left: 45px;
    transition: all 0.3s ease-in-out;
    font-size: 1.3rem;
}


.slider.nightmode p {
    padding-left: 7px;
}
  
.ball {
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
    background-color: var(--slider-ball);
    border: .1rem solid var(--primary-black);
}


.slider .ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    left: -10px;
    transition: all 0.4s ease-in-out;
}


.ball svg, .ball img {
    width: 80%;
    opacity: 1;
    transition: opacity .3s linear;
}

.ball:hover :nth-child(1) {
    content: url('/images/sun-hover.png');
}

.ball img.hidden {
    opacity: 0;
    display: none;
}

/* Home Header styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

header #logo-slogan {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 1200px;
}

header #logo-slogan h2 {
    text-align: right;
    color: var(--header-slogan);
}

:root.night header #logo-slogan :first-child {
    width: 98%;
    content: url('/images/eg-night.svg');
}

:root.night header #logo-slogan :nth-child(2) {
    width: 100%;
    content: url('/images/eg-stacked-night.png');
}

header #logo-slogan img {
    width: auto;
}

header #logo-slogan :nth-child(1) {
    display: none;
}

header #logo-slogan :nth-child(2) {
    display: inline;
    width: 100vw;
}

#arrow-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#arrow-down svg {
    width: 75px; 
    height: 75px;
    color: var(--primary-black);
    transition: all 2s ease-in-out;
}

#arrow-down.grow svg {
    width: 60px; 
    height: 60px;
} 

/* Home Projects */
#home-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 20%;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    max-width: 1200px;  
}

.section-header {
    width: 90%;
}

.section-header .underline {
    width: 100%
}

.section-header .underline :last-child {
    left: 10px;
    margin-top: 5px;
}

#home-projects .underline div, #projects .underline .div {
    top: 0px;
}

#home-projects .mac-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-header h2 {
    display: inline-block;
    font-size: 3rem;
    color: var(--primary-black);
}


.section-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    max-width: 1200px;
}

#home-projects .section-body {
    flex-direction: column;
}

.windows-stacked {
    width: 100%;
    height: 100%;
}

.windows-stacked .mac-window {
    position: relative;
    opacity: 1;
}

.windows-stacked :nth-child(1) {
    z-index: 2;
    left: 5%
}

.windows-stacked :nth-child(2) {
    z-index: 3;
    top: -74%;
    left: 10%

}

.windows-stacked :nth-child(3) {
    z-index: 4;
    top: -148%;
    left: 15%
}

.mac-window {
    min-width: 250px;
    width: 81%;
    height: 80%;
    border: 0.2rem solid var(--primary-black);
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}


.mac-header {
    display: flex;
    background-color: var(--mac-header);
    border-bottom: 0.2rem solid var(--primary-black);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    justify-content: start;
    align-items: center;
    height: 40px
}

  
.mac-header .ball {
    margin-left: 7px;
    border: 0.2rem solid black;
}

.mac-header :nth-child(1) {
    background-color: var(--mac-close);
}

.mac-header :nth-child(2) {
    background-color: var(--mac-expand)
}

.mac-header :nth-child(3) {
    background-color: var(--mac-minimize);
}


.mac-header p {
    margin-left: 10px;
    font-weight: bold;
}
  
.mac-body {
    height: 100%;
    background-color: var(--mac-window);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* Home About */
#home-about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    min-height: 800px;
}

#home-about .section-header {
    text-align: center;
}

#home-about .section-body {
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
}


#home-about .mac-window {
    width: 100%;
    min-width: 280px;
    max-height: 300px;
}

#home-about .mac-body > div {
    padding-left: 20px;
}

.text-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to right, var(--text-highlight), var(--text-highlight));
    transition: all .7s ease-in-out;
    z-index: -1;
}

.text-button:hover {
    cursor: pointer;
}
  

.text-button:hover::after  {
    width: 100%;
}
  

#home-projects .text-button {
    flex-direction: row;
}

#home-projects .text-button svg {
    width: 40px;
    height: 40px;
}

.enter-button {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 55px;
    color: var(--enter-button-text);
    background-color: var(--enter-button);
    border: 0.2rem solid var(--enter-button-border);
    border-radius: 4px;
}


/* Home Contact */
#home-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-height: 700px;
    margin-bottom: 80px;
}

#home-contact .section-header {
    text-align: left;
}

#home-contact .section-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 43%;
    min-height: 500px;
}

#home-contact .mac-window {
    width: 100%;
    max-width: 700px;
    min-width: 280px;
    height: 100%;
    margin-bottom: 30px;
}

#home-contact .mac-body {
    padding-left: 10px;
}

.section-body h2 {
    font-size: 2.5rem;
    margin: 10px;
}

#home-contact .text-button {
    flex-direction: row;
}

/* #home-contact .text-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% + 30px);
}

#home-contact .text-button h2 {
    display: inline;
}
*/

#home-contact .text-button svg {
    width: 40px;
    height: 40px;
} 

/* Projects Page */
#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

#projects .section-container {
    margin-bottom: 50px;
}

#projects .section-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-wrapper {
    flex-grow: 1;
    margin: 10px;
    float: right;
    vertical-align: top;
}


#projects .section-header h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

#project-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    font-size: 20px;
}

#project-selection-desktop {
    display: none;
}

#project-selection > h3 {
    display: none;
}


#project-3 .mac-body :last-child img {
    width: 80px;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--primary-black);
    background-color: var(--secondary-orange);
    height: 40px;
    width: 40px;
    margin: 20px;
}

.text-box:hover {
    cursor: pointer;
    background-color: var(--projects-selection);
}

.text-box.active {
    background-color: var(--projects-selection);
}

.text-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-arrow:hover {
    cursor: pointer;
}

.text-arrow svg {
    width: 60px;
}

.text-arrow.hidden:hover svg {
    opacity: .5;
}

.text-arrow.hidden {
    opacity: 1;
}

.text-arrow.hidden svg {
    opacity: 0;
}


.project-card {
    border: 2px solid var(--primary-black);
    border-radius: 10px;
    width: 120px;
    height: 140px;
    margin: 0px;
    margin-top: 15px;
    padding-top: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#projects .mac-window {
    position: relative;
    width: fit-content;
    min-height: 300px;
    height: fit-content;
}

#projects .mac-body {
    min-height: 320px;
    font-size: 17px;
}

#projects .mac-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#projects .mac-body > div {
    display: flex;
    justify-content: space-around;
}

#projects .row p {
    max-width: 400px;
}

#projects .underline {
    margin-top: 6px;
}

#projects .mac-body > div p, #projects .mac-body > div img {
    margin: 10px;
}

#project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.card-number {
    position: absolute;
    top: -15px;
    left: 43px;
    width: 25px;
    height: 25px;
    border: 2px solid var(--primary-black);
    background-color: var(--mac-header);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .mac-window.hidden {
    display: none;
}


#projects .mac-body {
    background: linear-gradient(120deg, var(--mac-focused-window-from), var(--mac-focused-window-to));
}

.root.night #projects img {
    filter: sepia(100%);
}



/* About Page */

.root.night #about img {
    filter: sepia(100%);
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    margin-top: 81px;
    margin-bottom: 81px;
}

#terminal-window {
    display: none;
}

#about-window {
    width: 100%;
    left: 0px;
}

#about .section-header {
    display: flex;
    justify-content: center;
}

#about .windows-stacked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


#about-window .mac-body {
    min-height: fit-content;
    padding: 10px;
    background: linear-gradient(120deg, var(--mac-focused-window-from), var(--mac-focused-window-to));
}


#about-window .mac-body :nth-child(2) {
    flex-direction: column-reverse;
}

#about-quote {
    border: 2px solid var(--primary-black);
    text-align: left;

    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#about-window .mac-body :first-child p {
    margin-left: 10px;
}

#about .mac-body .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.row {
    flex-wrap: nowrap;
}

/* Contact Page */
#contact .section-header {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
    max-height: 90px;
}

#contact {
    min-height: 800px;
    height: 85vh;
    margin-top: 81px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .section-container {
    min-height: 700px;
}

#contact-window {
    max-height: 390px;
    max-width: 700px;;
}

#contact-window .mac-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#contact-window form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 80%
}


#contact-window {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
}

#contact-window form label {
    margin-left: 3px;
}

#contact-window form input {
    width: 100%;
    height: 30px;
    font-size: 1.5rem;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 0.13rem solid var(--primary-black);
    background-color: var(--secondary-orange);
    color: var(--input-text);
    border-radius:  0.2rem;
}

#contact-window form textarea {
    resize: none;
    width: 100%;
    font-size: 1.5rem;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 2px;
    border: 0.13rem solid var(--primary-black);
    background-color: var(--secondary-orange);
    color: var(--input-text);
    border-radius:  0.2rem;
}

textarea:focus, input:focus { 
    outline: 0.13rem solid var(--primary-orange);
}


#contact-window form button {
    height: 45px;
    width: 100px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0.13rem solid var(--primary-black);
    background-color: var(--secondary-orange);
    color: var(--input-text);
    border-radius: 7px;
}

#contact-window form button:hover {
    cursor: pointer;
    background-color: var(--primary-orange);
}

#socials-window {
    max-width: 100px;
    max-height: 200px;
    margin-left: 0px;
    margin-top: 30px;
}

#socials-window .mac-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#socials-window .mac-body a:hover svg {
    color: var(--socials-hover);
}

#socials-window .mac-body svg {
    color: var(--socials-color);
    width: 200px;
} 


#contact .section-body {
    flex-direction: column;
    justify-content: space-between;
}


/* Utility classes */
.vh100 {
    height: 100vh;
}

.v-center {
    align-items: center;
}

.h-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.hidden {
    opacity: 0;
}

.plain-link {
    text-decoration: none;
    color: inherit;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row-reverse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}


.preload {
    opacity: 0;
    display: none;
}



/* Phone Breakpoints */
@media (min-width: 350px) {
    .section-body {
        width: 90%;
    }

    .nav-links {
        padding-left: 30px;
    }


}


/* IPAD Breakpoints */
@media (min-width: 500px) {
    #home-contact .text-button {
        flex-direction: row;
    }

    #home-about .mac-window {
        max-width: 500px;
    }

    #home-projects {
        max-height: 100%;
    }
    
    header #logo-slogan :nth-child(2) {
        display: none;
    }

    header #logo-slogan :nth-child(1) {
        display: block;
    }

    #project-selection > h3 {
        display: block;
    }

    #terminal-window {
        display: inline;
        position: absolute;
        height: 330px;
        top: 10%;
        left: -10px;
    }
    
    #terminal-window .mac-body {
        height: 287px;
    }

    #terminal-window .mac-body p {
        margin: 0px;
    }
    
    #terminal-window .mac-body {
        padding-left: 10px;
    }

    #about-window {
        max-width: 500px;
    }

/* 
    #about .windows-stacked :nth-child(2) {
        left: 15%
    } */

    .windows-stacked :nth-child(1) {
        left: 10%
    }

    .windows-stacked :nth-child(2) {
        left: 15%

    }

    .windows-stacked :nth-child(3) {
        left: 20%
    }



}

/* Laptop Breakpoint */
@media (min-width: 804px) {
    #home-about .section-body {
        flex-direction: row;
        justify-content: space-around;
    }

    #home-contact {
        height: 80vh;
        margin-bottom: 0;
    }

    #home-contact .section-body {
        height: 50%;
    }

    #home-contact .mac-window {
        height: 60%
    }


    #projects .section-container {
        margin-bottom: 0px;
    }

    #projects .section-body {
        display: inline-block;
        position: relative;
        max-width: 1000px;
    }

    #projects .section-body {
        display: inline-block;
        position: relative;
        max-width: 1000px;
    }

    #project-selection-desktop {
        display: inline-block;
        position: absolute;
        top: 110px;
        vertical-align: top;
        width: 280px;
        height: 200px;
    }
    
    #project-selection-desktop svg {
        width: 200px;
        height: 200px;
    }

    #project-selection {
        display: none;
    }

    #projects-wrapper {
        margin-left: 300px;
    }

    #about-window {
        max-width: 80%;
        margin-left: 100px;
    }

    #about-window .mac-body .row {
        flex-direction: row;
    }

    #about-window .mac-body :nth-child(2) {
        flex-direction: row;
    }


    #contact .section-body {
        flex-direction: row;
    }

    
    #contact #socials-window {
        margin-left: 30px;
        margin-top: 0px;
    }

    #contact-window .mac-body {
        padding-top: 0px;
    }

}

/* Large Screen Breakpoints */
@media (min-width: 1040px) {

    h1 {
        font-weight: bold;
        font-size: 3rem;
    }
    
    h2 {
        font-weight: bold;
        font-size: 3rem;
    }
    
    p {
        font-weight: normal;
        font-size: 1.5rem;
    }

    .section-header h2 {
        font-size: 3rem;
    }

    .section-body h2 {
        font-size: 3rem;
    }
    .nav-links a {
        font-size: 3rem;
    }

    
    nav {
        height: 70px;
    }



    .slider {
        width: 110px;
        margin-right: 25px;
    }

    .slider .ball {
        width: 65px;
        height: 65px;
        left: -22px;
    }

    .slider p {
        padding-left: 55px;
    }


    .burger {
        display: none;
    }

    .nav-fixed {
        padding-right: 10px;
        padding-left: 10px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        padding-left: 5px;
        top: 0;
        left: 0;
        max-height: 100%;
        max-width: 1200px;
        width: fit-content;
        border: none;
        transition: none;
        overflow: visible;
    }

    #project-selection-desktop {
        top: 75px;
    }
}
